<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="font-weight-bold">تسكين الإعضاء</div>
    <button class="p-0 d-flex justify-content-cener align-items-center" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="alert alert-info">
        برجاء تحديد الأعضاء إذا أردت أن تسكن أكثر من عضو واحد
    </div>
    <div class="bg-white p-3 rounded mb-3">
        <div class="font-weight-bold mb-2">
            الأشتراك الرئيسي:
        </div>
        <div *ngIf="primary" class="d-flex justify-content-between align-items-lg-center align-items-start flex-md-row flex-column member-card py-2 px-2 rounded">
            <mat-checkbox color="primary" [disabled]="primary.hasRoom" [value]="primary.id" [(ngModel)]="primary.isChecked">
                <div class="d-flex flex-column">
                    <div class="text-dark font-weight-bold">{{primary.name}}</div>
                    <small *ngIf="primary.hasRoom; else notHasRoom" class="text-success">
                        تم التسكين بنجاح
                    </small>
                </div>
            </mat-checkbox>
            <small *ngIf="primary.hasRoom" class="d-flex flex-column px-lg-0 px-2">
                <span class="text-success">({{primary.roomName}})</span>
                <a class="text-danger text-decoration-none" href="javascript:void(0)" (click)="openRoomCancellationModal(primary)">
                    <i class="fa-solid fa-circle-minus"></i>&nbsp;إلغاء التسكين
                </a>
                <a class="primary text-decoration-none" href="javascript:void(0)">
                    <i class="fa-solid fa-right-left"></i>&nbsp;نقل إلي غرفة أخري
                </a>
            </small>
        </div>
    </div>
    <div class="bg-white p-3 rounded mb-3">
        <div class="font-weight-bold mb-2">
            باقي المشتركين:
        </div>
        <ng-container *ngIf="family.length > 0; else noFamily">
            <div *ngFor="let f of family; last as last" class="d-flex justify-content-between align-items-lg-center align-items-start flex-md-row flex-column member-card py-2 px-2 rounded" [class.mb-3]="!last">
                <mat-checkbox color="primary" [disabled]="f.hasRoom || f.age < 4" [value]="f.id" [(ngModel)]="f.isChecked">
                    <div class="d-flex flex-column">
                        <span class="text-dark font-weight-bold">{{f.name}}</span>
                        <div class="d-flex flex-column">
                            <small *ngIf="f.hasRoom; else notHasRoom" class="text-success">
                                تم التسكين بنجاح
                            </small>
                            <!-- <ng-container *ngIf="f.isChild">
                                <small>
                                    <b>السن: </b> ({{f.age}})
                                    <i class="fa-solid fa-child primary px-2"></i>
                                </small>
                                <small> -->
                                    <!-- <b>مطلوب سرير منفصل: </b>
                                    <ng-container *ngIf="f.needsSeparateBed; else noBedNeeded">
                                        <i class="fa-regular fa-circle-check text-success"></i>
                                    </ng-container> -->
                                <!-- </small>
                            </ng-container> -->
                        </div>
                    </div>
                </mat-checkbox>
                <small *ngIf="f.hasRoom" class="d-flex flex-column px-lg-0 px-2">
                    <span class="text-success">({{f.roomName}})</span>
                    <a class="text-danger text-decoration-none" href="javascript:void(0)" (click)="openRoomCancellationModal(f)">
                        <i class="fa-solid fa-circle-minus"></i>&nbsp;إلغاء التسكين
                    </a>
                    <a class="primary text-decoration-none" href="javascript:void(0)" (click)="openRoomCancellationModal(f)">
                        <i class="fa-solid fa-right-left"></i>&nbsp;نقل إلي غرفة أخري
                    </a>
                </small>
            </div>
        </ng-container>
        <ng-template #noFamily>
            <div class="text-muted">
                هذا الاشتراك لا يحتوي علي أفراد آخرين أو أطفال
            </div>
        </ng-template>
    </div>
    <form [formGroup]="form" #roomForm="ngForm" novalidate class="row mx-0 py-3 bg-white rounded">
        <mat-form-field  class="col-12">
            <mat-label>الغرفة</mat-label>
            <mat-select formControlName="roomId">
                <ng-container *ngFor="let item of rooms">
                    <mat-option [value]="item.id" [disabled]="item.available < 1">{{ item.displayedName }}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error *ngIf="form.get('roomId')!.hasError('required')">
                {{'validations.requiredField' | translate}}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button color="primary" mat-flat-button type="button" [disabled]="isSaveButtonDisabled || isSaveLoading" cdkFocusInitial (click)="save($event, roomForm)">
        <span> {{ 'common.save' | translate }}</span>
        <i *ngIf="isSaveLoading" class="fa-solid fa-spinner fa-spin mx-2"></i>
    </button>
</div>

<ng-template #notHasRoom>
    <small class="text-danger">
        غير مسكن
    </small>
</ng-template>

<ng-template #noBedNeeded>
    <i class="fa-regular fa-circle-xmark text-danger"></i>
</ng-template>
