<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="font-weight-bold">{{ (data ? 'common.update' : 'common.add') | translate }}</div>
    <button class="p-0 d-flex justify-content-cener align-items-center" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <ng-container *ngIf="isDataLoaded">
        <app-reservation [isAdmin]="true" [isEditMode]="!!data" [reservationData]="reservationData"
            (closeModal)="close(true)" #reservationComp></app-reservation>
    </ng-container>
</div>