<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="font-weight-bold">{{ (data ? 'common.update' : 'common.add') | translate }}</div>
    <button class="p-0 d-flex justify-content-cener align-items-center" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <ng-container *ngIf="(data && data.bookingType && isDataLoaded); else add">
        <app-manage-reservation-form [roomType]="data.roomType" #manageReservationForm
            [type]="data.bookingType" [canManageReservation]="true"
            [enableWaitingList]="false" [reservationData]="reservationData"
            [isEditMode]="true" (closeModal)="close(true)">
        </app-manage-reservation-form>
    </ng-container>
    <ng-template #add>
        <mat-tab-group class="w-100" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChanged($event)">
            <mat-tab [label]="'home.individualBooking' | translate">
                <div class="bg-white" *ngIf="selectedTabIndex < 1">
                    <app-reservation [type]="bookingType.individual" 
                        [enableWaitingList]="false"></app-reservation>
                </div>
            </mat-tab>
            <mat-tab [label]="'home.groupBooking' | translate">
                <div class="bg-white" *ngIf="selectedTabIndex > 0">
                    <div class="alert alert-info">
                        <div>
                            {{'common.childInfo' | translate}}
                        </div>
                        <div>
                            {{'common.adultInfo' | translate}}
                        </div>
                        <div>
                            {{'common.maximumPersons' | translate}}
                        </div>
                    </div>
                    <app-reservation [type]="bookingType.group" 
                        [enableWaitingList]="false"></app-reservation>
                </div>
            </mat-tab>
        </mat-tab-group>
    </ng-template>
</div>
<div *ngIf="data && data.bookingType && isDataLoaded" mat-dialog-actions>
    <button color="primary" mat-flat-button type="button" cdkFocusInitial (click)="save()" [disabled]="isSaveInProgress">
        <span> {{ 'common.save' | translate }}</span>
        <i *ngIf="isSaveInProgress" class="fa-solid fa-spinner fa-spin px-2"></i>
    </button>
</div>