.primary-section {
    background-color: #dcd8cd;
}

.adult-section {
    background-color: #e3e3e3;
}

.child-section {
    background-color: #c6c6c6;
}

.count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3f51b5;
}

.child-btn {
    margin-inline-start: 8px;
}