<mat-tab-group class="w-100" dynamicHeight mat-align-tabs="start" #tabs (selectedIndexChange)="onTabChanged($event)">
  <mat-tab [label]="'home.individualBooking' | translate">
    <ng-container *ngIf="model.isIndividual">
      <app-manage-reservation-form
        [bookingType]="model.bookingType.individual" [isAdmin]="isAdmin" [isEditMode]="isEditMode" 
        [reservationData]="reservationData" [roomType]="model.roomType.single" 
        (bookingDone)="bookingDone.emit()" (closeModal)="closeModal.emit()">
      </app-manage-reservation-form>
    </ng-container>
  </mat-tab>
  <mat-tab label="حجز غرفة مزدوجة (950 جنيه)">
    <div class="alert alert-info">
      <div class="font-weight-bold">
        {{'common.notes' | translate}}:
      </div>
      <div>{{'common.childrenNotes' | translate}}</div>
      <div>{{'common.childrenNoteOne' | translate}}</div>
      <div>{{'common.childrenNoteTwo' | translate}}</div>
    </div>
    <ng-container *ngIf="model.isDouble">
      <app-manage-reservation-form
        [bookingType]="model.bookingType.group" [isAdmin]="isAdmin" [isEditMode]="isEditMode" 
        [reservationData]="reservationData" [roomType]="model.roomType.double" 
        (bookingDone)="bookingDone.emit()" (closeModal)="closeModal.emit()">
      </app-manage-reservation-form>
    </ng-container>
  </mat-tab>
  <mat-tab label="حجز غرفة ثلاثية (700 جنيه)">
    <div class="alert alert-info">
      <div class="font-weight-bold">
        {{'common.notes' | translate}}:
      </div>
      <div>{{'common.childrenNotes' | translate}}</div>
      <div>{{'common.childrenNoteOne' | translate}}</div>
      <div>{{'common.childrenNoteTwo' | translate}}</div>
    </div>
    <ng-container *ngIf="model.isTriple">
      <app-manage-reservation-form
        [bookingType]="model.bookingType.group" [isAdmin]="isAdmin" [isEditMode]="isEditMode" 
        [reservationData]="reservationData" [roomType]="model.roomType.triple" 
        (bookingDone)="bookingDone.emit()" (closeModal)="closeModal.emit()">
      </app-manage-reservation-form>
    </ng-container>
  </mat-tab>
  <mat-tab label="حجز غرفة رباعية (700 جنيه)">
    <div class="alert alert-info">
      <div class="font-weight-bold">
        {{'common.notes' | translate}}:
      </div>
      <div>{{'common.childrenNotes' | translate}}</div>
      <div>{{'common.childrenNoteOne' | translate}}</div>
      <div>{{'common.childrenNoteTwo' | translate}}</div>
    </div>
    <ng-container *ngIf="model.isQuad">
      <app-manage-reservation-form
        [bookingType]="model.bookingType.group" [isAdmin]="isAdmin" [isEditMode]="isEditMode" 
        [reservationData]="reservationData" [roomType]="model.roomType.quad" 
        (bookingDone)="bookingDone.emit()" (closeModal)="closeModal.emit()">
      </app-manage-reservation-form>
    </ng-container>
  </mat-tab>
</mat-tab-group>