<div class="container-fluid py-3 px-0">
    <div class="row mx-0">
        @for(item of model.buildingList(); track item) {
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1 mb-2">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{'rooms.building' | translate}}: {{item.name}}
                                <div class="fontweight-bold px-2">
                                    ({{item.members.length}})
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="item.members.length > 0; else noData">
                        @for (member of item.members; track member.memberId) {
                            <li class="py-2" [class.border-bottom]="!$last">
                                <div class="d-flex justify-content-between align-items-center py-2" >
                                    <div class="d-flex flex-column w-100">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div>{{member.name}}</div>
                                            <div>{{member.room}}</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        }
        @for(item of model.roomsList(); track item) {
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1 mb-2">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{item.key | translate}}:
                                <div class="fontweight-bold px-2">
                                    {{item.rooms.length}}
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="item.rooms.length > 0; else noData">
                        @for (room of item.rooms; track room.id) {
                            <li class="py-2" [class.border-bottom]="!$last">
                                <div class="d-flex justify-content-between align-items-center py-2" >
                                    <div class="d-flex flex-column w-100">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <div>{{'room.name' | translate}}: {{room.room}}</div>
                                            @if (!item.isComplete) {
                                                <span class="badge bg-dark">
                                                    {{'rooms.available' | translate}}: {{room.available}}
                                                </span>
                                            }
                                        </div>
                                        <div>{{'room.building' | translate}}: {{room.building}}</div>
                                        <div>{{'room.floor' | translate}}: {{room.floor}}</div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        }
        @for(item of model.busStatistics(); track item) {
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1 mb-2">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{item.key | translate}}:
                                <div class="fontweight-bold px-2">
                                    {{item.count}} فرد
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="item.count > 0; else noData">
                        @for (member of item.members; track member) {
                            <li class="py-2" [class.border-bottom]="!$last">
                                <div class="d-flex justify-content-between align-items-center py-2" >
                                    <div class="d-flex flex-column">
                                        <span>{{member.name}}</span>
                                        <span>{{member.mobile}}</span>
                                    </div>
                                    <small class="badge bg-dark">
                                        @if (member.remaining) {
                                            {{member.remaining}} جنيه
                                        } @else {
                                            ---
                                        }
                                    </small>
                                </div>
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        }
        @for (item of model.items; track item) {
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1 mb-2">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{item.key | translate}}:
                                <div class="fontweight-bold px-2">
                                    {{item.count}} فرد
                                    @if (item.room) {
                                        <span>
                                            @if(item.roomType !== model.roomType.single) {
                                                <span>- {{item.room}} غرفة</span>
                                            }
                                        </span>
                                    }
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="item.count > 0; else noData">
                        @for (member of item.members; track member) {
                            <li class="py-2" [class.border-bottom]="!$last">
                                {{member}}
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        }
        @for (item of model.roomStatistics(); track item) {
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1 mb-2">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{item.key | translate}}:
                                <div class="fontweight-bold px-2">
                                    {{item.membersCount}} فرد
                                    @if (item.roomCount) {
                                        <span>
                                            @if(item.roomType !== model.roomType.single) {
                                                <span>- {{item.roomCount}} غرفة</span>
                                            }
                                        </span>
                                    }
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="item.membersCount > 0; else noData">
                        @for (group of item.groups; track group; let lastGroup = $last) {
                            <li class="py-2" [class.border-bottom]="!lastGroup">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>{{group.primaryName}}</span>
                                    <small class="badge bg-dark">{{'common.primaryMember' | translate}}</small>
                                </div>
                                @if (group.members.length > 0) {
                                    @for (member of group.members; track member) {
                                        <div class="d-flex justify-content-between align-items-center">
                                            {{member.name}}
                                            @if (member.isChild) {
                                                <small class="badge bg-info">{{'common.withoutBed' | translate}}</small>
                                            }
                                        </div>
                                     }
                                }
                                @if (group.room || group.building || group.floor) {
                                    <div class="text-dark fw-bold">
                                        @if (group.building) {
                                            <span class="ps-2">{{'rooms.building' | translate}}: {{group.building}} -</span>
                                        }
                                        @if (group.floor) {
                                            <span class="ps-2">{{'rooms.floor' | translate}}: {{group.floor}} -</span>
                                        }
                                        @if (group.room) {
                                            <span>{{'common.room' | translate}}: {{group.room}}</span>
                                        }
                                    </div>
                                }
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        }
        <ng-container *ngFor="let costItem of model.costList; let last = last">
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1" [class.mb-2]="!last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{costItem.key | translate}}:
                                <div class="fontweight-bold px-2">
                                    {{costItem.amount}} جنيه
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="costItem.members.length > 0; else noData">
                        @for (member of costItem.members; track member.key) {
                            <li [class.border-bottom]="!$last">
                                <div class="d-flex justify-content-between align-items-center py-2" >
                                    <span>{{member.key}}</span>
                                    <small class="badge bg-dark">{{member.value}}</small>
                                </div>
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </div>
</div>

<ng-template #noData>
    <div class="d-flex justify-content-center text-muted pb-3">
        {{'common.emptyData' | translate}}
    </div>
</ng-template>