<div class="container-fluid py-3 px-0">
    <div class="row mx-0">
        <ng-container *ngFor="let item of model.items; let last = last">
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1 mb-2">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{item.key | translate}}:
                                <div class="fontweight-bold px-2">
                                    {{item.count}} فرد
                                    <span *ngIf="item.room">
                                        <span *ngIf="item.roomType !== model.roomType.single">- {{item.room}} غرفة</span>
                                    </span>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="item.count > 0; else noData">
                        @for (member of item.members; track member) {
                            <li class="d-flex justify-content-between align-items-center py-2" [class.border-bottom]="!$last">
                                {{member}}
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
        <ng-container *ngFor="let costItem of model.costList; let last = last">
            <mat-accordion class="col-lg-4 col-md-6 col-12 px-md-3 px-1" [class.mb-2]="!last">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="d-flex">
                                {{costItem.key | translate}}:
                                <div class="fontweight-bold px-2">
                                    {{costItem.amount}} جنيه
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ol *ngIf="costItem.members.length > 0; else noData">
                        @for (member of costItem.members; track member.key) {
                            <li class="d-flex justify-content-between align-items-center py-2" [class.border-bottom]="!$last">
                                <span>{{member.key}}</span>
                                <small class="badge bg-dark">{{member.value}}</small>
                            </li>
                        }
                    </ol>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </div>
</div>

<ng-template #noData>
    <div class="d-flex justify-content-center text-muted pb-3">
        {{'common.emptyData' | translate}}
    </div>
</ng-template>