<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="fw-bold">خطأ</div>
    <button class="p-0 d-flex justify-content-cener align-items-center" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="bg-white rounded p-3">
        <div class="d-flex justify-content-center flex-column align-items-center" [ngSwitch]="error">
            <ng-container *ngSwitchCase="errors.exceededAvailability">
                <div class="mb-3">
                    <i class="fa-regular fa-face-frown text-gray stop-icon"></i>
                </div>
                <div class="alert alert-danger">
                    لا يوجد أماكن متاحة بالغرفة لهذا العدد
                </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <div class="mb-3">
                    <i class="fa-solid fa-ban text-danger stop-icon"></i>
                </div>
                <div class="alert alert-danger">
                    يجب إختيار عضو علي الأقل لأكمال عملية التسكين
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="close()" cdkFocusInitial>
        موافق
    </button>
</div>