<div class="container-fluid table-container" [class.px-0]="model.isMobileView">
    <div class="w-100" [ngClass]="model.isMobileView ? 'h-100' : 'mt-2'">
        <div class="w-100 d-flex h-100">
            <div *ngIf="model.dataSource && model.dataSource.data.length < 1" class="w-100">
                <app-empty-data></app-empty-data>
            </div>
            <div [hidden]="model.dataSource && model.dataSource.data.length < 1" class="mat-elevation-z8" [class.table-wz-advanced]="model.isAdvancedSearchOpened">
                <table mat-table [dataSource]="model.dataSource" matSort matSortActive="name" matSortDirection="asc"
                    matSortDisableClear="true">
                    <ng-container matColumnDef="mobileView">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="py-2">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="d-flex flex-column">
                                    <div><b>{{'common.name' | translate}}:</b> {{element.name}}</div>
                                    <div><b>{{'common.mobile' | translate}}:</b> {{element.mobile}}</div>
                                    <div><b>{{'common.adultsCount' | translate}}:</b> {{element.adultsCount + 1}}</div>
                                    <div><b>{{'common.childrenCount' | translate}}:</b> {{element.childrenCount}}</div>
                                    <div> <b>{{'common.totalCost' | translate}}:</b>
                                        <a (click)="viewCostDetails(element)" class="total">
                                            {{element.totalCost}}
                                        </a>
                                    </div>
                                    <div> <b>{{'common.paid' | translate}}:</b> {{element.paid}}</div>
                                    <div> <b>{{'common.remaining' | translate}}:</b> {{ element.totalCost - element.paid }}</div>
                                    <div class="d-flex">
                                        <b>{{'common.room' | translate}}:</b>&nbsp;
                                        <ng-container *ngIf="element.room; else empty">
                                            {{ element.room }}
                                        </ng-container>
                                    </div>
                                    <div class="d-flex">
                                        <b>{{'common.gender' | translate}}:</b>&nbsp;
                                        <ng-container [ngSwitch]="element.gender">
                                            <ng-container *ngSwitchCase="model.gender.male">
                                                {{ 'common.male' | translate }}
                                            </ng-container>
                                            <ng-container *ngSwitchDefault>
                                                {{ 'common.female' | translate }}
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                    <div class="d-flex">
                                        <b>{{'common.bookingType' | translate}}:</b> &nbsp;
                                        <ng-container [ngSwitch]="element.bookingType">
                                            <div *ngSwitchCase="1">
                                                {{ 'common.individual' | translate }}
                                            </div>
                                            <div *ngSwitchDefault>
                                                {{ 'common.group' | translate }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div><b>{{'common.transportationName' | translate}}</b> {{ element.transportationName }} </div>
                                    <div><b>{{'common.age' | translate}}</b> {{ element.age }} </div>
                                    <div><b>{{'common.birthDate' | translate}}:</b> {{element.birthDate.toMillis() | date}}</div>
                                    <div> <b>{{'common.bookingDate' | translate}}:</b> {{element.bookingDate.toMillis() | date:'medium'}}</div>
                                    <div class="d-flex">
                                        <b>{{'common.lastUpdateDate' | translate}}:</b>&nbsp;
                                        <ng-container *ngIf="element.lastUpdateDate; else empty">
                                            {{element.lastUpdateDate.toMillis() | date:'medium'}}
                                        </ng-container>
                                    </div>
                                    <div class="d-flex">
                                        <b>{{'common.lastUpdatedBy' | translate}}:</b>&nbsp;
                                        <ng-container *ngIf="element.lastUpdatedBy; else empty">{{element.lastUpdatedBy}}</ng-container>
                                    </div>
                                    <div> <b>{{'common.userNotes' | translate}}:</b>
                                        <ng-container *ngIf="element.userNotes; else empty">
                                            {{element.userNotes}}
                                        </ng-container>
                                    </div>
                                    <div> <b>{{'common.adminNotes' | translate}}:</b>
                                        <ng-container *ngIf="element.adminNotes; else empty">
                                            {{element.adminNotes}}
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="d-flex flex-column-reverse">
                                    <ng-container [ngSwitch]="element.bookingStatus">
                                        <div *ngSwitchCase="2">
                                            <div class="badge px-2 py-1 badge-info">{{ 'bookingStatus.confirmed' | translate }}
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="3">
                                            <div class="badge px-2 py-1 badge-warning">{{ 'bookingStatus.duplicated' | translate
                                                }}
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="4">
                                            <div class="badge px-2 py-1 badge-danger">{{ 'bookingStatus.canceled' | translate }}
                                            </div>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <div class="badge px-2 py-1 badge-success">{{ 'bookingStatus.new' | translate }}
                                            </div>
                                        </div>
                                    </ng-container>
                                    <div>
                                        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item class="primary" (click)="update(element)">{{'common.edit' |
                                                translate}}</button>
                                            <button mat-menu-item class="text-danger"
                                                (click)="delete(element)">{{'common.delete' | translate}}</button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{'common.total' | translate}}: <b>{{model.dataSource.data.length}}</b> </td>
                    </ng-container>
        
                    <ng-container matColumnDef="name" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.name' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="width-175">
                            {{element.name}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef>{{'common.total' | translate}}: <b>{{model.dataSource.data.length}}</b> </td>
                    </ng-container>
        
                    <ng-container matColumnDef="mobile">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.mobile' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{element.mobile}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="adultsCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.adultsCount' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.adultsCount + 1 }}</td>
                        <td mat-footer-cell *matFooterCellDef> {{getAllAdultsCount()}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="childrenCount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.childrenCount' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.childrenCount }}</td>
                        <td mat-footer-cell *matFooterCellDef> {{getAllChildrenCount()}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="roomId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.room' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.room; else empty">
                                {{ element.room }}
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="transportation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.transportationName' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.transportationName }}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="bookingType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.bookingType' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container [ngSwitch]="element.bookingType">
                                <div *ngSwitchCase="1">
                                    {{ 'common.individual' | translate }}
                                </div>
                                <div *ngSwitchDefault>
                                    {{ 'common.group' | translate }}
                                </div>
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="birthDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.birthDate' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="width-135">{{ element.birthDate.toMillis() | date }}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.age' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{ element.age }}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="bookingDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.bookingDate' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="width-135">{{ element.bookingDate.toMillis() | date:'medium' }}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.gender' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container [ngSwitch]="element.gender">
                                <ng-container *ngSwitchCase="model.gender.male">
                                    {{ 'common.male' | translate }}
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    {{ 'common.female' | translate }}
                                </ng-container>
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="totalCost">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.totalCost' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="viewCostDetails(element)" class="total">
                                {{element.totalCost}}
                            </a>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{getAllTotalCost()}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="paid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.paid' | translate}}</th>
                        <td mat-cell *matCellDef="let element">{{element.paid}}</td>
                        <td mat-footer-cell *matFooterCellDef> {{ getAllPaid() }} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="remaining">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.remaining' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.totalCost - element.paid }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{getAllRemaining()}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="bookingStatus">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'table.bookingStatus' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container [ngSwitch]="element.bookingStatus">
                                <div *ngSwitchCase="2">
                                    <div class="badge px-2 py-1 badge-info">{{ 'bookingStatus.confirmed' | translate }}</div>
                                </div>
                                <div *ngSwitchCase="3">
                                    <div class="badge px-2 py-1 badge-warning">{{ 'bookingStatus.duplicated' | translate }}
                                    </div>
                                </div>
                                <div *ngSwitchCase="4">
                                    <div class="badge px-2 py-1 badge-danger">{{ 'bookingStatus.canceled' | translate }}
                                    </div>
                                </div>
                                <div *ngSwitchDefault>
                                    <div class="badge px-2 py-1 badge-success">{{ 'bookingStatus.new' | translate }}</div>
                                </div>
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="userNotes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.userNotes' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="width-100 text-truncate" [matTooltip]="element.userNotes" matTooltipPosition="above">
                            <ng-container *ngIf="element.userNotes; else empty">
                                {{element.userNotes}}
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="adminNotes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.adminNotes' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="width-100 text-truncate" [matTooltip]="element.adminNotes" matTooltipPosition="above">
                            <ng-container *ngIf="element.adminNotes; else empty">
                                {{element.adminNotes}}
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="lastUpdateDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.lastUpdateDate' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="width-135">
                            <ng-container *ngIf="element.lastUpdateDate; else empty">
                                {{element.lastUpdateDate.toMillis() | date:'medium'}}
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="lastUpdatedBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.lastUpdatedBy' | translate}}</th>
                        <td mat-cell *matCellDef="let element" class="width-135">
                            <ng-container *ngIf="element.lastUpdatedBy; else empty">{{element.lastUpdatedBy}}</ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.bookingStatus' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <ng-container [ngSwitch]="element.bookingStatus">
                                <div *ngSwitchCase="2">
                                    <div class="badge px-2 py-1 badge-info">{{ 'bookingStatus.confirmed' | translate }}</div>
                                </div>
                                <div *ngSwitchCase="3">
                                    <div class="badge px-2 py-1 badge-warning">{{ 'bookingStatus.duplicated' | translate }}
                                    </div>
                                </div>
                                <div *ngSwitchCase="4">
                                    <div class="badge px-2 py-1 badge-danger">{{ 'bookingStatus.canceled' | translate }}
                                    </div>
                                </div>
                                <div *ngSwitchDefault>
                                    <div class="badge px-2 py-1 badge-success">{{ 'bookingStatus.new' | translate }}</div>
                                </div>
                            </ng-container>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="actions" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            <button mat-icon-button color="primary" (click)="showAdvancedFilter()">
                                <mat-icon>filter_list</mat-icon>
                            </button>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                                <i class="fa-solid fa-ellipsis"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item class="primary" (click)="update(element)">{{'common.edit' |
                                    translate}}</button>
                                <button mat-menu-item class="text-danger" (click)="delete(element)">{{'common.delete' |
                                    translate}}</button>
                            </mat-menu>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="model.displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: model.displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="model.displayedColumns; sticky: true"></tr>
                </table>
            </div>
            <button *ngIf="model.isMobileView" mat-icon-button color="primary" (click)="showAdvancedFilter()" class="mobile-filter-button">
                <mat-icon>filter_list</mat-icon>
            </button>
            <div *ngIf="model.isAdvancedSearchOpened" class="advanced-filter">
                <div class="header d-flex justify-content-between align-items-center">
                    <div>{{ 'advancedFilter.advancedFilter' | translate }}</div>
                    <button *ngIf="model.isMobileView" mat-icon-button (click)="showAdvancedFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <app-advanced-search (filterChanged)="onFilterChanged($event)"></app-advanced-search>
            </div>
        </div>
    </div>
</div>

<ng-template #empty>
    ---
</ng-template>