<div class="container-fluid table-container" [class.px-0]="model.isMobileView">
  <div class="w-100 h-100" [ngClass]="model.isMobileView ? 'h-100' : 'mt-2'">
    <div class="w-100 d-flex h-100">
      <div *ngIf="model.dataSource && model.dataSource.data.length < 1" class="w-100">
        <app-empty-data></app-empty-data>
      </div>
      <div [hidden]="model.dataSource && model.dataSource.data.length < 1" class="mat-elevation-z8">
        <table mat-table [dataSource]="model.dataSource" matSort matSortActive="name" matSortDirection="asc"
          matSortDisableClear="true">
          <ng-container matColumnDef="mobileView">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="py-2">
              <div class="d-flex justify-content-between align-items-start flex-column">
                <div class="d-flex">
                  <span class="mx-2">
                    <i *ngIf="element.isChild" class="fa-solid fa-child primary"></i>
                    <i *ngIf="element.isMain" class="fa-solid fa-star primary"></i>
                  </span>
                </div>
                <div><b>{{'common.name' | translate}}: </b> {{element.name}}</div>
                <div class="d-flex"><b>المشترك الرئيسي التابع له: </b>&nbsp;
                  <div *ngIf="!element.isMain; else sameMember" class="text-success">{{element.mainMemberName}}</div>
                </div>
                <div class="d-flex">
                  <b>{{'common.mobile' | translate}}:</b>&nbsp;
                  {{ element.mobile }}
                </div>
                <div> <b>تم الحذف بواسطة: </b>
                  {{element.deletedBy}}
                </div>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef class="px-0">
              <div class="pr-3 d-flex">
                {{'common.total' | translate}}: <b>{{model.total}}</b>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.name' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="col-2">
              <div class="d-flex">
                <div>{{element.name}}</div>
                <div class="px-2">
                  <i *ngIf="element.isChild" class="fa-solid fa-child primary"></i>
                  <i *ngIf="element.isMain" class="fa-solid fa-star primary"></i>
                </div>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <div class="d-flex">
                {{'common.total' | translate}}: <b>{{model.total}}</b>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="primaryMemberName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>المشترك الرئيسي التابع له</th>
            <td mat-cell *matCellDef="let element" class="col-2">
              <div *ngIf="!element.isMain; else sameMember" class="text-success">{{element.mainMemberName}}</div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'common.mobile' | translate}}</th>
            <td mat-cell *matCellDef="let element" class="col-3">
              <div class="d-flex">
                <div class="px-2">{{ element.mobile}}</div>
                <div class="col-6">
                  <app-social-media [mobile]="element.mobile"></app-social-media>
                </div>
              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <ng-container matColumnDef="deletedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>تم الحذف بواسطة</th>
            <td mat-cell *matCellDef="let element" class="width-135">
              {{element.deletedBy}}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="model.displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: model.displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="model.displayedColumns; sticky: true"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #sameMember>
  ذاته
</ng-template>