<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center text-center h-100">
        <div class="col-md-4 col-12 p-5 bg-white container-border">
            <img src="assets/images/logo.jpg" loading="lazy" alt="img" class="img-fluid mb-3">
            <form [formGroup]="form" novalidate (ngSubmit)="login()" class="col-12 px-0">
                <mat-form-field class="w-100">
                    <mat-label>{{'common.email' | translate}}</mat-label>
                    <input type="email" matInput formControlName="email" inputmode="email">
                    <mat-error *ngIf="form.get('email')!.hasError('required')">
                        {{'validations.requiredField' | translate}}
                    </mat-error>
                    <mat-error *ngIf="form.get('email')!.hasError('email')">
                       {{'validations.invalidEmailAddress' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>{{'common.password' | translate}}</mat-label>
                    <input [type]="isPasswordVisible ? 'text' : 'password'" matInput formControlName="password">
                    <button mat-icon-button matSuffix (click)="toggleShowPassword()" type="button">
                        <mat-icon>{{isPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    <mat-error *ngIf="form.get('password')!.hasError('required')">
                        {{'validations.requiredField' | translate}}
                    </mat-error>
                </mat-form-field>
                <button mat-flat-button class="mt-2 w-100" type="submit" color="primary" [disabled]="isLoading">
                    <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                    <span class="px-2">{{'common.login' | translate}}</span>
                </button>
            </form>
        </div>
    </div>
</div>
