<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="fw-bold">{{'common.confirmBooking' | translate}}</div>
    <button class="p-0 d-flex justify-content-center align-items-center" (click)="cancel()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="px-0 py-3">
        <div *ngIf="isGrouping; else individualTemp">
            حجزك لمجموعة وليس فرد واحد ، للتأكيد اضغط موافق.
            <div>
                لحجز فرد: اضغط الغاء و اعد الحجز من جديد بعد اختيار حجز فرد
            </div>
        </div>
        <ng-template #individualTemp>
            حجزك لفرد واحد وليس مجموعة، للتأكيد اضغط موافق.
            <div>
                لحجز مجموعة: اضغط الغاء و اعد الحجز من جديد بعد اختيار حجز مجموعة
            </div>
        </ng-template>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-stroked-button type="button" color="primary" (click)="cancel()">
        {{'common.cancel' | translate}}
    </button>
    <button mat-flat-button color="primary" (click)="confirm()" cdkFocusInitial>
        موافق
    </button>
</div>

