<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="font-weight-bold">{{ (data ? 'address.update' : 'address.add') | translate }}</div>
    <button class="p-0 d-flex justify-content-cener align-items-center" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <form [formGroup]="form" #categoryForm="ngForm" novalidate>
        <mat-form-field class="w-100">
            <mat-label>{{'common.arName' | translate}}</mat-label>
            <input type="text" matInput formControlName="arName">
            <mat-error *ngIf="form.get('arName')!.hasError('required')">
                {{'validations.requiredField' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>{{'common.enName' | translate}}</mat-label>
            <input type="text" matInput formControlName="enName">
            <mat-error *ngIf="form.get('enName')!.hasError('required')">
                {{'validations.requiredField' | translate}}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button color="primary" mat-flat-button type="button" cdkFocusInitial (click)="save(categoryForm)">
        <span> {{ (data ? 'address.update' : 'address.add') | translate }}</span>
    </button>
</div>