<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="font-weight-bold">{{ (data ? 'common.update' : 'common.add') | translate }}</div>
    <button class="p-0 d-flex justify-content-cener align-items-center" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <form [formGroup]="form" #categoryForm="ngForm" novalidate>
        <mat-form-field class="w-100">
            <mat-label>{{'address.title' | translate}}</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="form.get('name')!.hasError('required')">
                {{'validations.requiredField' | translate}}
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button color="primary" mat-flat-button type="button" cdkFocusInitial (click)="save(categoryForm)">
        <span> {{ 'common.save' | translate }}</span>
    </button>
</div>