@switch(status()) {
    @case (bookingStatus().confirmed) {
        <div class="badge px-2 py-1 bg-info">{{ 'bookingStatus.confirmed' | translate }}</div>
    }
    @case (bookingStatus().duplicated) {
        <div class="badge px-2 py-1 bg-warning">{{ 'bookingStatus.duplicated' | translate }}</div>
    }
    @case (bookingStatus().canceled) {
        <div class="badge px-2 py-1 bg-danger">{{ 'bookingStatus.canceled' | translate }}</div>
    }
    @case (bookingStatus().waiting) {
        <div class="badge px-2 py-1 bg-secondary">{{ 'bookingStatus.waiting' | translate }}</div>
    }
    @case (bookingStatus().deleted) {
        <div class="badge px-2 py-1 bg-danger">محذوف</div>
    }
    @default {
        <div class="badge px-2 py-1 bg-success">{{ 'bookingStatus.new' | translate }}</div>
    }
}