@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Jomhuria&family=Sansita&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  scroll-behavior: smooth;
  letter-spacing: 0 !important;
}

* {
  box-sizing: border-box;
}

*:not(i):not(mat-icon) {
  font-family: "Cairo", sans-serif !important;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #ECEFEF !important;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

[lang="ar"]body {
  text-align: right !important;
}

[lang="en"]body {
  text-align: left !important;
}

button:focus {
  outline: 0 !important;
  border: none !important;
}

.mat-mdc-dialog-content {
  background-color: #ecefef;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.mat-mdc-dialog-container {
  padding-top: 8px !important;
}

.mdc-dialog__title::before {
  content: unset !important;
}

.mat-mdc-dialog-title {
  padding-top: 10px !important;
  button {
    border: none;
    background-color: transparent;
  }
}

@media (min-width: 769px) {
  .customDialogPanelClass-md {
    width: 400px !important;
  }
  
  
  .customDialogPanelClass-lg {
    width: 800px !important;
  }
  
  .customDialogPanelClass-xlg {
    width: 1000px !important;
  }
}

@media (max-width: 769px) {
  .customDialogPanelClass-sm, .customDialogPanelClass-md, 
  .customDialogPanelClass-lg, .customDialogPanelClass-xlg {
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .customDialogPanelClass-lg, .customDialogPanelClass-xlg {
    min-height: 100%;
    height: 100%;
    .mat-mdc-dialog-container {
      padding-top: 0 !important;
    }
    .mat-mdc-dialog-content {
      max-height: unset !important;
      height: calc(100% - 105px) !important;
    }
  }
}

.mat-mdc-dialog-actions {
  justify-content: end !important;
  padding-inline-end: 24px !important;
  .mdc-button {
    min-width: 95px;
  }
}

.table-container {
  height: 100%;
  overflow: hidden;
  .mat-elevation-z8 {
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #a7a7a7b3;

    overflow-y: scroll;
    .mat-mdc-table {
      width: 100%;
      border-radius: 5px 5px 0 0;
      .mat-mdc-header-row {
        background-color: #f1f1f1 !important;
      }
      th.mat-mdc-header-cell,
      td.mat-mdc-cell {
        border-color: #c7c7c7b3;
      }
      .mdc-data-table__row:last-child {
        border-color: #c7c7c7b3;
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
      }
    }
  }
}

@media (min-width: 769px) {
  .table-container {
    .mat-elevation-z8 {
      max-height: 630px;
      width: 100%;
      &.table-wz-advanced {
        width: calc(100% - 230px) !important;
      }
    }
  }
  
}
@media (max-width: 769px) {
  .table-container {
    .mat-elevation-z8 {
      max-height: 100%;
      width: 100%;
      // &.table-wz-advanced {
      //   filter: brightness(0.4);
      // }
      .mat-mdc-header-row {
        display: none;
      }
    }
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: #28a745 !important;
  }
}

.snackbar-warning {
  .mdc-snackbar__surface {
    background-color: #ffc107 !important;
  }
}

.snackbar-danger {
  .mdc-snackbar__surface {
    background-color: #dc3545 !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(166, 168, 168) !important;
  border-radius: 5px;
}


.mat-mdc-tab,
.mat-mdc-floating-label,
.mdc-button {
  --mdc-typography-button-letter-spacing: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ecefef;
}

@media(min-width: 960px) {
  .container-border {
    border-radius: 10px;
    // box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border: 0.5px solid #ccc;
  }
}

.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-container-color: #146C94 !important;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #146C94 !important;
}

.primary {
  color: #146C94 !important;
}

.mat-toolbar.mat-primary {
  background: #146C94 !important;
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color: var(--mdc-tab-indicator-active-indicator-color, #146C94);
}

.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: #146C94;
}

.mat-mdc-radio-button.mat-primary {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-focus-icon-color: #212121;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #146C94;
  --mdc-radio-selected-hover-icon-color: #146C94;
  --mdc-radio-selected-icon-color: #146C94;
  --mdc-radio-selected-pressed-icon-color: #146C94;
  --mat-mdc-radio-ripple-color: #000;
  --mat-mdc-radio-checked-ripple-color: #146C94;
}

mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: #146C94 !important;
}

.total {
  color: #146C94;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.width-100 {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.width-135 {
  width: 135px;
  min-width: 135px;
}

.width-175 {
  width: 175px;
  min-width: 175px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 16px 0 14px !important;
}

@media (min-width: 769px) {
  .advanced-filter {
    border: 1px solid #dcd4d4;
    border-radius: 10px;
    margin-inline-start: 8px;
    width: 222px;
    height: 630px;
    .header {
      background-color: #f1f1f1;
      padding: 17px 10px;
      border-radius: 10px 10px 0 0;
    }
    .advanced-body {
      height: 490px;
      overflow-y: scroll;
    }
  }
}

@media (max-width: 769px) {
  .advanced-filter {
    z-index: 1511111111 !important;
    width: 100%;
    min-width: 100%;
    background-color: white;
    height: 100vh;
    .header {
      background-color: #f1f1f1;
      padding-inline-start: 16px;
    }
    .filter-form {
      height: calc(100% - 185px);
      max-height: calc(100% - 185px) !important;
      overflow-y: scroll;
    }
    .advanced-body {
      height: 100%;
      overflow-y: scroll;
    }
  }
}

.mobile-fab-button {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.mobile-filter-button {
  position: fixed !important;
  top: 3px;
  left: 10px;
  z-index: 100 !important; // Not appear in IOS
  color: #fff !important;
}

.font-size-18 {
  font-size: 18px;
}