<div mat-dialog-title class="d-flex justify-content-between align-content-center">
    <div class="fw-bold">تصدير</div>
    <button class="p-0 d-flex justify-content-center align-items-center" (click)="cancel()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="bg-white border rounded">
        <div class="row mx-0">
            <mat-checkbox class="col-lg-6 col-12" [(ngModel)]="selectAll" color="primary" (change)="onSelectAllChanged()">تحديد الكل</mat-checkbox>
        </div>
        <div class="row mx-0">
            <div *ngFor="let op of options" class="col-lg-6 col-12">
                <mat-checkbox [(ngModel)]="op.isChecked" color="primary">{{op.key}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-stroked-button type="button" color="primary" (click)="cancel()">
        {{'common.cancel' | translate}}
    </button>
    <button mat-flat-button color="primary" [disabled]="isExportBtnDisabled" (click)="export()" cdkFocusInitial>
        تصدير
    </button>
</div>