<form [formGroup]="model.form" novalidate class="row mx-0 mt-3 filter-form">
    <div class="advanced-body w-100">
        <mat-form-field class="col-12">
            <mat-label>{{'advancedFilter.name' | translate}}</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{'advancedFilter.mobile' | translate}}</mat-label>
            <input type="text" matInput formControlName="mobile">
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{'home.transportation' | translate}}</mat-label>
            <mat-select formControlName="transportationId">
                <mat-option [value]="'all'">{{'common.all' | translate}}</mat-option>
                <ng-container *ngFor="let item of model.buses">
                    <mat-option [value]="item.id">
                        {{ item.name }} 
                        <!-- <span *ngIf="item.price > 0">{{ item.price }} {{'common.egp' | translate}}</span> -->
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{'common.gender' | translate}}</mat-label>
            <mat-select formControlName="gender">
                <ng-container *ngFor="let item of model.genderList">
                    <mat-option [value]="item.value">
                        {{ item.key | translate }} 
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{'common.bookingStatus' | translate}}</mat-label>
            <mat-select formControlName="bookingStatus">
                <ng-container *ngFor="let item of model.bookingStatusList">
                    <mat-option [value]="item.value">{{ item.key | translate }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>{{'common.birthDateMonth' | translate}}</mat-label>
            <mat-select formControlName="birthDateMonth">
                <ng-container *ngFor="let item of model.months">
                    <mat-option [value]="item.value">{{ item.key | translate }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <div class="col-12 mb-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{'common.ageRange' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="px-3">
                        <mat-form-field class="w-100">
                            <mat-label>{{'common.fromAge' | translate}}</mat-label>
                            <input type="number" matInput formControlName="fromAge" inputmode="numeric">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>{{'common.toAge' | translate}}</mat-label>
                            <input type="number" matInput formControlName="toAge" inputmode="numeric">
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <ng-container *ngIf="!hideMainProp">
            <mat-form-field class="col-12">
                <mat-label>{{'common.adultsCount' | translate}}</mat-label>
                <input type="number" matInput formControlName="adultsCount" inputmode="numeric">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>{{'common.childrenCount' | translate}}</mat-label>
                <input type="number" matInput formControlName="childrenCount" inputmode="numeric">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>{{'common.paid' | translate}}</mat-label>
                <input type="number" matInput formControlName="paid" inputmode="numeric">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>{{'common.totalCost' | translate}}</mat-label>
                <input type="number" matInput formControlName="total" inputmode="numeric">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>{{'common.remaining' | translate}}</mat-label>
                <input type="number" matInput formControlName="remaining" inputmode="numeric">
            </mat-form-field>
        </ng-container>
    </div>
</form>
<div class="d-flex justify-content-lg-around justify-content-end align-items-center w-100 border-top pt-3 filter-footer">
    <button color="primary" mat-flat-button type="submit" cdkFocusInitial (click)="filter()">
        <span> {{ 'advancedFilter.filter' | translate }}</span>
    </button>
    <button color="primary" mat-stroked-button type="button" (click)="reset()" [class.mx-3]="model.isMobileView">
        <span> {{ 'advancedFilter.reset' | translate }}</span>
    </button>
</div>